@import "../styles/def.scss";
.gallery-car{
    
    h1{
        margin-bottom: 2rem;
        text-align: center;
        color: $color01;
    }

    .container-gallery{
        .gallery{
            display: grid;
            justify-items: center;
            background-color: black;
            padding: 2rem;
            gap: 2rem;
            grid-template-columns: repeat(1, auto);
            
            a{
                img{
                  
                     width: 100%;
                }

                img:hover{
                    transform: scale(1.05);
                
                }
            }

            
        }
        @media(min-width: 1000px){
            .gallery{
                grid-template-columns: repeat(2, auto);
            }
        }
        
        @media(min-width: 1650px){
            .gallery{
                grid-template-columns: repeat(4, auto);
            }
        }
    }
}