@import "../styles/def.scss";
#container-car{
    height: 100vh;
    h1{
        margin-top: 9rem;
        text-align: center;
        color: $color01;
    }
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1rem;
    justify-content: center;

    .info-car{

        background-color: rgb(255, 255, 255);
        display: grid;
        gap:  2rem;
        border: solid black;
        border-radius: 20px;
        overflow: hidden;
        margin:  4rem;
    
        .card{
            img{
                width: 100%;
                }
            h2{
                text-align: center;
                color: $color01;
            }
            .detail{
                p{
                    padding: 2rem;
                    text-align: center;
                }
            }
        }
        .card:nth-child(2){
            background-color: black;
        }

        #battery{
            .card{
                background: black;
                .detail{
                    color: white;
                }
            }
        }
    }  
}