@import "../styles/def.scss";
.map{
    .container-map{
        background-color: #e2e7efff;
        display: grid;
        img{
            justify-self: center;
         width: 50%;    
        }
    }
}