@import "./def.scss";


  .header{
      width: 100%;
      display: grid;
      background-color: white;
      box-shadow: 0 .5rem 1.5rem black;
      z-index: 20;

      nav{
        display: grid;
        grid-template-columns: repeat(1, auto);

        .img{
          justify-self: center;
        }

        .drivable{
          display: grid;
          grid-template-columns: repeat(1, auto);
          align-items: center;
          justify-content: center;

          a{
            text-decoration: none;
            color: $color01;
            font-size: 3rem;
            margin: .5rem;
          }
        }
         
    }
    
    @media(min-width: 600px){      
      nav{
        margin: 2rem;
        grid-template-columns: repeat(1, auto);

        .drivable{
          grid-template-columns: repeat(4, auto);
          gap: 2rem;
        }
      }
    }
    
  }  
  
  
  
        

  

