@import "./def.scss";

#escooter{
    position: relative;
    display: grid;
    height: 100vh;
    background-image: url(/media/kolobezkaKonv.jpg);
    background-position: center top;

    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        background: rgba(0, 0 , 0, .3);
        display: grid;
        align-content: center;
        justify-content: center;
        gap: 1rem;
        
        section{
            font-size: 3rem; 
            text-align: center;
            
            &:nth-child(odd){
                color: $color01;
            }
        }

        .button{
            display: grid;
            margin-top: 1.5rem;
            justify-content: center;
            a{
                padding: .5rem 10rem; 
                margin-top: 5rem;
                font-size: 3rem;
                text-decoration: none;
                color: white;
                border: .5px solid white;
                background: rgba(0, 0 , 0, .6);
            }
        }

        @media(min-width: 1024px){
            justify-content: end; 
            
            section, a{
                margin-right: 5rem;
                text-align: start;
            }

            .button{
                justify-content: start;
                a{

                }
            }

           
        }
        
    }

}